:root {
	--primary: #3f51b5;
	/*	--secondary: rgb(255, 222, 3);
*/
}
body,
.MuiInputBase-root {
	font-size: 14px !important;
}

[class^="Mui"],
body {
	font-family: Montserrat !important;
}
main {
	min-height: calc(100vh - 59px - 160px);
	padding-top: 50px !important;
	position: relative;
}
@media (max-width: 768px) {
	.container {
		padding: 0 15px;
	}
}
@media (min-width: 768px) {
	main {
		min-height: calc(100vh - 84px - 160px);
	}
	.container {
		width: 750px !important;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px !important;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px !important;
	}
}
.container {
	/*	box-sizing: border-box;
	padding-right: 15px;
	padding-left: 15px;*/
	margin-right: auto !important;
	margin-left: auto !important;
}
input {
	text-overflow: ellipsis;
}
.input-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}
.input-wrapper input {
	width: 100%;
}
.input-wrapper i {
	position: absolute;
	right: 10px;
	color: var(--primary);
	cursor: pointer;
}
.align-center {
	display: flex;
	align-items: center;
}
h2,
h1 {
	text-align: center;
}
.justify-center {
	display: flex;
	justify-content: center;
	width: 100%;
}
.column {
	display: flex;
	flex-direction: column;
}
.right {
	margin-right: 10px;
}
.left {
	margin-left: 10px;
}
.fas,
.far {
	color: var(--primary);
}
.pointer {
	cursor: pointer;
}
.box {
	border-radius: 5px;
	box-shadow: 0 1px 5px 0 #d7dad9;
	padding-bottom: 12px;
}
.choose-picture {
	position: relative;
	font-weight: initial;
	color: gray;
	display: block;
}
.choose-picture input {
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	font-size: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0 !important;
}
.MuiDialogContent-root .choose-picture {
	margin-top: 10px;
}
.profile-image {
	border-radius: 75px;
	border: 1px solid lightgray;
	margin: 0 auto;
	display: block;
}
.main-profile {
	padding-bottom: 50px;
}
.main-profile .spinner-wrapper {
	height: calc(100% - 50px);
}
